.navbar-start{
   width: 80%;
}
a{
    font-size: 1.1rem;
    font-weight: 500;
}
@media screen and (max-width: 639px) {
    .custom-footer  {
      margin:auto;
      display: grid;
      grid-template-columns: repeat(2, 1fr );
    
    }
    
  }